@model IEnumerable<Trabalho_Final.Models.Atores>

@{
    ViewBag.Title = "Actors";
}

<h2>Actors</h2>

@if (User.IsInRole("Admin")) { 
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6">

                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdAtor }) <span>|</span>
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdAtor })
                }
                <div class="card  well" style="height:310px; width:240px">
                    <a href="/Atores/Details/@item.IdAtor">
                        <img src="/ImagensAtores/@item.Imagem" style="width:200px; height:220px; object-fit:cover;" />
                    </a>
                    <h3>@item.Nome</h3>
                </div>

            </div>
        }
    </div>
</div>


