@model IEnumerable<Trabalho_Final.Models.Categorias>

<li class="nav-item dropdown">
    <a class="navbar-link dropdown-toggle" data-toggle="dropdown">
        Categorias
        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu">
        <a class="dropdown-item" href="#">@Html.ActionLink("Create New", "Create")  </a>
        @foreach (var item in Model)
        {
            <li class="dropdown-item" class="row">
                <a class="dropdown-item" href="@Url.Action("Index","Filmes", new { idCategoria = item.IdCategoria})">@Html.DisplayFor(modelItem => item.Nome)</a>
            </li>
        }
        <a href="@Url.Action("Index","Categorias")">Delete</a>

    </ul>
</li>
